body{
	background:rgba(102,207,107,0.8);
	font-family:"Comic Sans MS";
}
img{
	height:25%;
	width:100%;
	padding-top:100%;
}
.sidenav{
	top:0;
	padding-top:15px;
	background-color:black;
	height:100%;
	position:fixed;
	width:20%;
	z-index:1;
	left:0;
	overflow:hidden;
}
span{
	color:#660033;
}
.sidenav a{
	color:gray;
	font-size:20px;
	padding:30px 28px;
	text-decoration:none;
	display:block;
}
.sidenav a:hover{
	transition: all 0.2s;
	font-size:23px;
	color:white;
}
.sidenav .closebtn{
	position:absolute;
	color:gray;
	right:0;
	top:-30px;
	margin-left:50px;
}
.container{
	position:fixed;
	left:35%;
	bottom:25%;
}

label {
	display: inline-block;
	width: 120px;
	text-align: right;
	font-size: 20px;
}

input {
	font-size: 20px;
	width: 400px;
	vertical-align: top;
}

textarea {
	font-size: 20px;
	width: 405px;
	vertical-align: top;
}
p{
	font-size:20px;
}
.button1{
	text-decoration:none;
	border:none;
	border-radius:20px;
	background-color:#fff;
	font-weight:100;
	padding:10px;
	transition:all 0.5s ease 0;
	display:inline-block;
}
.footer
{
	font-family:"Comic Sans MS";
	font-size:17px;
	color:black;
	width:100%;
	position:fixed;
	text-align:center;
	bottom:0;

}
